:root {
  --red-primary: #DF2614;
}

.gretting {
  display: flex;
  justify-content: center;
  margin-top: -30rem;
  color: rgb(242, 242, 242);
  font-size: 7rem;
  font-family: 'Anton', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Paytone One', sans-serif;
}

.gretting-presentation p {
  color: #DF2614;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  margin-top: -5rem;
  font-weight: bold;
}

.btn-order{
  cursor: pointer;
  background-color: #DF2614;
  display: flex;
  justify-content: center;
  padding: 15px 5px;
  margin-left: 40rem;
  margin-right: 40rem;
  border-radius: 35px;
  color: aliceblue;
  font-family: 'Anton', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Paytone One', sans-serif;
}