
.img-rib {
  height: 23rem;
  width: 40rem;
  display: flex;
  margin: 0 auto;
  margin-right: -70px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.9)); 
}
.images-presentation {
  display: flex;
}

.meet {
  height: 10rem;
  margin-left: 200px;
  transition: all 0.3s ease-out 0s;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.meet {
  display: flex;
  margin: 0 auto;
  animation: wiggle 10s infinite; 

}

@media ( min-width: 320px ) {
  .img-rib {
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
  }
  .meet{
    display: none;
  }
}

