.image-bestseller {
  width: 10rem;
  border-radius: 100%;
}

.content-seller {
  background-color: rgb(250, 249, 247);
  border-radius: 15px;
  
}

.container-sellers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
/* .container-seller{
  padding: 20px;
  border-radius: 5px;
}
.card-best-sellers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  background-color: azure;
  margin: 30px;
} */

