.offerProducts{
  background-color: rgb(250, 249, 247);
  border-radius: 10px;
  box-shadow: 20px;
  width: 80rem;
  margin: 20px;
  padding: 10px 30px;
  
}

.container {
  margin: 3% 3%;
  align-items: center;
  justify-content: space-between;
  
}

.container h3, h1{
  color: #DF2614;
  font-family: 'Paytone One', sans-serif;
}

.container h2 {
  color: rgb(42, 39, 39);
  font-size: 28px;
  font-family: 'Anton', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Paytone One', sans-serif;
  margin-top: -20px;
}

.container p {
  color: gray;
}

.container {
  display: flex;
}

.card-images{
  max-width: 100%;
  margin-left: 320px;
  margin-top: -200px;
  background-color: beige;
  border-radius: 150rem;
}
