.offerProducts1, .offerProducts2{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 20px;
  display: flex;flex-direction: column;
  width: 80rem;
  margin: 20px;
  padding: 10px 30px;
  
}

.container {
  display: flex;
  margin-top: 30px;
  
}

.container h3, h1{
  color: #DF2614;
  font-family: 'Paytone One', sans-serif;
}

.container h2 {
  color: rgb(42, 39, 39);
  font-size: 28px;
  font-family: 'Anton', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Paytone One', sans-serif;
  margin-top: -20px;
}

.container p {
  color: gray;
}