.first-navbar {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  background: none;
  color: rgb(244, 236, 236);
  padding: 0 90px 0 90px;

  
}

.first-navbar ul{
  display: flex; 
}
.first-navbar li {
  margin-left: 15px;
  list-style: none;
  cursor: pointer;
}

.locatio-icon {
  background: red;
  padding: 15px 10px 10px 10px;
  margin-top: -11px;
  border-radius: 0 0px 5px 5px;
}
.adress-email  {
  display: flex;
  margin-right: 10px;
}

