/* .header-presentation {
  background-image: url("/banner_bg.png");
  background-repeat: no-repeat;
  padding: 0px;
  box-sizing: border-box;
  height: 710px;
  background-size: 100%;
  margin: -10px;
}

@media ( max-width: 480px ) {
  .header-presentation {
    background-size: contain;
   position: relative;
  }
} */

.header-presentation {
  background-image: url("/banner_bg.png");
  background-repeat: no-repeat;
  padding: 0;
  box-sizing: border-box;
  height: 710px;
  background-size: 100%;
  background-position: center; /* Para centrar horizontalmente */
  margin: -23px;
}

@media (max-width: 480px) {
  .header-presentation {
    height: 600px; /* Ajusta esta altura para extender la imagen hacia abajo */
    background-size: cover; /* Esto hará que la imagen se expanda completamente */
    background-position: center center; /* Centra la imagen vertical y horizontalmente */
  }
}