

.header-presentation {
  background-image: url("/banner_bg.png");
  background-repeat: no-repeat;
  padding: 0;
  box-sizing: border-box;
  height: 710px;
  background-size: 100%;
  background-position: center; 
  margin: -23px;
}

@media (min-width: 360px) {
  .header-presentation {
    height: 600px; 
    background-size: cover; 
    background-position: center center; 
  }
}