:root{
  --red-primary: #DF2614;
}

body{
  background-image: url(https://firebasestorage.googleapis.com/v0/b/carniceria-matamoros.appspot.com/o/bg-butcher.jpeg?alt=media&token=2dfaee49-3653-4c0c-863a-7b7e7bdd5d73);
  font-family: 'Anton', sans-serif;
  font-family: 'Nunito', sans-serif;
}

