.img-organic-card { 
  display: grid;
  height: 18rem;
  gap: 70px;
}

.Organic-cards {
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  text-align: center;
}

.Organic-cards h4{
  color: rgb(15, 15, 15);
  font-size: 25px;
  font-weight: bold;
  font-family: 'Paytone One', sans-serif;
  margin-top: 10px;
}

.Organic-cards p {
  color: rgb(154, 16, 16);
  margin-top: -20px;
}

.textCardFooter{
  color: rgb(154, 16, 16);
}

.card-meat{
  background-color: rgb(250, 249, 247);
  border-radius: 10px;
  
  margin: 20px;
  position: relative;
}



/* .img-organic-card-rib {
  height: 16rem;
  width: 100%;
  margin-bottom: 61px;
} */
 @media (min-width: 320px) {
  .Organic-cards{
    flex-direction: column;
  }
 }